@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing:border-box;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content:center ;
    background-color: #f4f4f4;
}


.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    max-width: 370px;
    width: 100%;
    border-radius:24px ;
    padding: 25px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    position: relative;
}

.card::before{
    content: '';
    position: absolute;
    top:0;
    left:0;
    border-radius: 24px 24px 0 0;
    height: 36%;
    width: 100%;
    background-color: #4070f4;
}

.image
{   position:relative ;
    background-color:#4070f4;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    padding: 3px;
    margin-bottom: 10px;
}
.image .profilepic
{   height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50% ;
    border: 3px solid rgb(255, 255, 255);
}

.card .text-data{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.text-data .name{
    font-size: 22px;
    font-weight: 500;
}

.text-data .job{
    font-size: 15px;
    font-weight: 400;
}
.card .media-buttons{
    display: flex;
    align-items: center;
    margin-top:15px ;
}

.media-buttons .link{
    display: flex;
    align-items: center;
    justify-content: center;
    color:azure;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    margin: 0 8px;
    text-decoration: none;
}

.card .buttons{
    margin-top: 25px;
}

.buttons .button{
    font-size: 18px;
    font-weight: 400;
    margin:0 10px;
    padding: 8px 24px;
    background-color: #4070f4;
    border: none;
    text-decoration: none;
    border-radius:24px ; 
    color: #fff;
    cursor:pointer;
    transition: all 0.3s ease;
}

.buttons .button:hover{
    background-color: #1a42b0c9;
}
.card .analytics{
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.analytics .data{
    display: flex;
    align-items: center;
    color: #333;
    padding:0 20px;
    border-right: 2px solid #e7e7e7;

}

.data i{
    font-size: 18x;
    margin-right: 6px;
}

.data:last-child{
    border-right: none;
}
